@use "../../variable" as v;

/* ---------------------------
card
--------------------------- */

.c-card {
	border: 4px solid v.$c-bg;
	border-radius: 15px;

	&__head {
		background-color: v.$c-bg;

		@include v.mq(lpt) {
			padding: 18px 20px 24px;
		}

		@include v.mq(s) {}
	}

	&__title {
		text-align: center;
		font-weight: 600;

		@include v.mq(lpt) {
			font-size: v.rem(22);
		}

		@include v.mq(s) {}
	}

	&__body {
		@include v.mq(lpt) {
			padding: 25px 40px 35px;
		}

		@include v.mq(s) {}
	}

	&__price {
		text-align: center;
		color: v.$c-primary;
		font-weight: 600;
		line-height: 1.5;

		@include v.mq(lpt) {
			font-size: v.rem(18);
			margin-bottom: 8px;
		}

		@include v.mq(s) {}
	}

	&__list {
		display: flex;
		flex-direction: column;

		@include v.mq(lpt) {}

		@include v.mq(s) {}

		&__item {
			position: relative;
			padding-left: 1em;
			line-height: 2;

			@include v.mq(lpt) {}

			@include v.mq(s) {}

			&::before {
				content: "";
				display: block;
				width: 4px;
				height: 4px;
				position: absolute;
				left: -2px;
				border-radius: 50%;
				background-color: v.$c-base;

				@include v.mq(lpt) {
					top: 17px;
				}

				@include v.mq(s) {}
			}
		}
	}

	&__image {
		display: flex;
		justify-content: center;

		@include v.mq(lpt) {
			margin-top: 40px;
		}

		@include v.mq(s) {}

		img {
			border-radius: 15px;
		}
	}
}

.c-cardGrid {
	@include v.mq(lpt) {
		display: grid;

		&.--col2 {
			grid-template-columns: repeat(2, 1fr);
			gap: 40px;
		}
	}

	@include v.mq(s) {}
}