@use "../../variable" as v;

/* ---------------------------
dx
--------------------------- */

.p-dx {
	position: relative;

	@include v.mq(lpt) {
		margin-right: auto;
	}

	@include v.mq(s) {}

	&__wrapper {
		overflow: hidden;
		background-color: v.$c-primary;
		position: relative;

		@include v.mq(lpt) {
			width: min(calc(calc(1320px + calc(100vw - 1320px) / 2)), calc(100vw - 40px));
			border-radius: 0 40px 20px 0;
			// padding-right: 140px;
			padding-bottom: 64px;
		}

		@include v.mq(s) {
			width: calc(100% - 15px);
			border-radius: 0 20px 10px 0;
			padding-bottom: 80px;
		}
	}

	&__row {
		display: flex;
		// width: 1125px;
	}

	&__illust {
		position: absolute;
		bottom: 0;
		left: 0;

		@include v.mq(lp) {
			width: min(calc(531 / 1320 * 100%), 531px);
			transform: translate(-4.5%, 17.5%);
		}

		@include v.mq(t) {
			width: min(calc(400 / 1320 * 100%), 400px);
			transform: translate(-4.5%, 17.5%);
		}

		@include v.mq(s) {
			width: 170px;
			transform: translate(-4.5%, 17.5%);
		}
	}

	&__inner {
		@include v.mq(lpt) {
			// max-width: calc(1020 / 1320 * 100%);
			max-width: 1180px;
			// margin-inline: auto;
			margin-left: auto;
			padding: 0 40px;
		}

		@include v.mq(s) {
			margin-left: auto;
			padding: 0 10px 0 15px;
		}
	}

	&__contents {
		position: relative;
		z-index: 5;
		flex-shrink: 0;

		@include v.mq(lpt) {
			max-width: 560px;
			margin-inline: auto;
			padding-top: 81px;
			// margin-left: 4.5%;
		}

		@include v.mq(s) {
			width: 100%;
			padding-top: 32px;
		}
	}

	&__text {
		line-height: 2;
		letter-spacing: 0.1em;
		color: #fff;

		@include v.mq(lpt) {
			margin-top: 36px;
		}

		@include v.mq(s) {
			margin-top: 24px;
		}
	}

	&__button {
		@include v.mq(lpt) {
			margin-top: 52px;
		}

		@include v.mq(s) {
			margin-top: 24px;
		}
	}

	&__decoration {
		@include v.f2;
		font-weight: bold;
		line-height: 1;
		letter-spacing: 0.05em;
		position: absolute;
		color: v.$c-tertiary;
		opacity: 0.3;
		white-space: nowrap;

		@include v.mq(lpt) {
			font-size: v.rem(48);
			bottom: -9px;
			right: 4px;
		}

		@include v.mq(s) {
			font-size: v.srem(18);
			bottom: 0;
			right: 4px;
			white-space: nowrap;
		}

	}
}