@use "../../variable" as v;

/* ---------------------------
tab
--------------------------- */

.p-tab {
	// &:has(.p-tab__panel__item.--open) {
	// 	.p-tab__body {
	// 		@include v.mq(lpt) {
	// 			border-radius: 0 0 20px 40px;
	// 		}

	// 		@include v.mq(s) {
	// 			border-radius: 0 0 10px 20px;
	// 		}
	// 	}
	// }

	// &__head {
	// 	@include v.mq(lpt) {}

	// 	@include v.mq(s) {}
	// }

	// &__button {
	// 	@include v.mq(lpt) {
	// 		display: flex;
	// 		gap: 20px;
	// 	}

	// 	@include v.mq(s) {
	// 		display: grid;
	// 		grid-template-columns: repeat(2, 1fr);
	// 		gap: 10px;
	// 	}

	// 	&__item {
	// 		border: none;
	// 		background: #fff;
	// 		display: flex;
	// 		align-items: center;
	// 		position: relative;

	// 		@include v.mq(lpt) {
	// 			border-radius: 20px 40px 0 0;
	// 			min-height: 110px;
	// 			padding: 15px 170px 15px 70px;
	// 		}

	// 		@include v.mq(s) {
	// 			flex-direction: column;
	// 			border-radius: 10px 20px 0 0;
	// 			padding: 12px 20px 10px 20px;
	// 		}

	// 		.--quaternary & {
	// 			background: v.$c-quaternary;
	// 		}

	// 		.icon {
	// 			@include v.mq(lpt) {}

	// 			@include v.mq(s) {
	// 				max-width: 20px;
	// 			}
	// 		}

	// 		.label {
	// 			font-weight: 600;
	// 			letter-spacing: 0.1em;

	// 			@include v.mq(lpt) {
	// 				font-size: v.rem(18);
	// 				margin-left: 35px;
	// 			}

	// 			@include v.mq(s) {
	// 				font-size: v.srem(12);
	// 				margin-top: 5px;
	// 			}
	// 		}

	// 		&::after {
	// 			content: "";
	// 			display: block;
	// 			position: absolute;
	// 			top: 50%;
	// 			display: flex;
	// 			justify-content: center;
	// 			align-items: center;
	// 			background-color: v.$c-secondary;
	// 			background-image: url(../images/common/icon_arrow_02.svg);
	// 			background-position: center;
	// 			background-repeat: no-repeat;
	// 			border-radius: 50%;
	// 			transform: translateY(-50%);
	// 			transition: 0.3s;

	// 			@include v.mq(lpt) {
	// 				width: 50px;
	// 				height: 50px;
	// 				right: 70px;
	// 				background-size: 12px auto;
	// 			}

	// 			@include v.mq(s) {}
	// 		}

	// 		&.--open {
	// 			&::after {
	// 				transform: translateY(-50%) rotate(180deg);
	// 			}
	// 		}
	// 	}
	// }

	// &__panel {
	// 	@include v.mq(lpt) {}

	// 	@include v.mq(s) {}

	// 	&.--open {}

	// 	&__item {
	// 		background-color: #fff;
	// 		height: 0;
	// 		overflow: hidden;
	// 		// opacity: 0;
	// 		// visibility: hidden;

	// 		@include v.mq(lpt) {
	// 			border-radius: 0 40px 0 0;
	// 		}

	// 		@include v.mq(s) {}
	// 	}
	// }

	// &__category {
	// 	display: flex;
	// 	flex-wrap: wrap;

	// 	@include v.mq(lpt) {
	// 		gap: 8px 20px;
	// 		padding: 60px 110px 20px;
	// 	}

	// 	@include v.mq(s) {}

	// 	&__link {
	// 		font-weight: 600;
	// 		background-color: v.$c-base;
	// 		border-radius: 9999px;
	// 		color: #fff;

	// 		@include v.mq(lpt) {
	// 			padding: 5px 18px;
	// 		}

	// 		@include v.mq(s) {}

	// 	}
	// }

	&__head {
		&:has(.--open) {
			@include v.mq(lp) {
				margin-bottom: 24px;
			}

			@include v.mq(s) {}
		}
	}

	&__body {
		background-color: #fff;

		@include v.mq(lpt) {
			padding: 110px 110px 100px;
			border-radius: 0 40px 20px 40px;
		}

		@include v.mq(t) {
			padding: 60px 40px 60px;
			margin-top: 32px;
		}

		@include v.mq(s) {
			padding: 32px 20px 40px;
			border-radius: 10px 20px 10px 20px;
			margin-top: 24px;
		}

		.--quaternary & {
			background-color: v.$c-quaternary;
		}
	}
}